.scrollbar-custom::-webkit-scrollbar {
  height: 8px; /* Horizontal scrollbar height */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
  display: none;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #000000; /* Thumb color */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #2e2d2d;
}

.swipe-slide {
  transition: filter 0.3s ease;
}

/* Darken adjacent slides */
.swiper-slide-prev,
.swiper-slide-next {
  filter: brightness(0.5);
}

.custom-pagination {
  display: flex;
  margin-inline: auto;
  margin-top: 0rem;
  gap: 0.75rem;
}

.custom-pagination .swiper-pagination-bullet {
  flex-grow: 1;
  width: 40px;
  height: 5px;
  background-color: #9f9a9a;
  border-radius: 0%;
  opacity: 0.7;
  cursor: pointer;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
  opacity: 1;
}

@media (min-width: 768px) {
  .custom-pagination {
    margin-top: 1rem;
  }

  .custom-pagination .swiper-pagination-bullet {
    height: 10px;
  }
}
