@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap);
@import "tailwindcss";

@theme {
  /*color*/
  --color-primary: rgba(255, 145, 0, 0.87);
  --color-primary-hover: rgba(255, 196, 0, 1);
  --color-secondary: rgba(167, 167, 167, 0.87);
  /*animation*/
  --animate-fade-in: fadeIn 0.3s ease-in-out backwards;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  --animate-shake: shake 0.5s ease-out;
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    20%,
    60% {
      transform: translate(-4px, 2px);
    }
    40%,
    80% {
      transform: translate(4px, -2px);
    }
  }
  /* problematic animation */
  --animate-fade-in-out: fadeInOut 3s ease-in-out;
  @keyframes fadeInOut {
    0%,
    100% {
      opacity: 0;
    }
    30%,
    70% {
      opacity: 1;
    }
  }
  --animate-scale-in: scaleIn 0.3s ease-in-out backwards;
  @keyframes scaleIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  --animate-appear: appear 0.3s ease-in-out;
  @keyframes appear {
    from {
      opacity: 0;
      display: block;
    }
    to {
      opacity: 1;
      display: block;
    }
  }
  --animate-disappear: disappear 0.3s ease-in-out forwards;
  @keyframes disappear {
    from {
      opacity: 1;
      display: block;
    }
    to {
      opacity: 0;
      display: none;
    }
  }
  --animate-slide-in-left: slideInLeft 0.3s ease-out;
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  /* font */
  --font-oswald: "Oswald", sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.tw-input-field {
  @apply m-2 p-2 rounded border focus:border-2;
}

.tw-user-form-field {
  @apply border-b border-gray-300 dark:border-gray-500 mx-6 px-3 py-6;
}

.tw-page-arrow-btn {
  @apply px-4 py-2 border-2 rounded-full font-oswald disabled:opacity-50 hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black transition duration-300 hover:cursor-pointer disabled:hover:cursor-default;
}

.tw-round-primary-btn {
  @apply rounded-full bg-primary text-white items-center flex justify-center py-2 w-full hover:bg-primary-hover cursor-pointer font-extrabold text-lg transition-colors disabled:bg-gray-400 disabled:cursor-default;
}
